.collapseOne,.collapseTwo,.collapseThree{
    display: none;
}
.picker__wrap{
    width: 375px !important;
}
.modal_sm{
    width: 600px !important;
}
.modal_md{
    width: 1020px !important;
}
.modal_lg{
    width: 1400px !important;
}
.sprite{
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-image: url(img/spraite/3c5e0c242e6056f9c6661bae22249286.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    &_fb{
        background-position-x:-7.6px;
        background-position-y:-7px;
    }
}
