.img-logo-site{
    width: 18px;
    height: 18px;
    border-radius: 50px;
}
.title-logo-site{
    margin-left: 8px;
}

/*#site_header {*/
/*background-color: #00acc1 !important;*/
/*}*/

.header-background {
    background-color: #00acc1 !important;
}
#table_log td {
    width: 50px;
    max-width: 200px;
    overflow: auto;
}

